<div class="chatty">

    <div class="container">
        <div class="row chat-window" id="chat_window_1">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading top-bar">
                        <h3 class="panel-title">
                            Name
                        </h3>
                    </div>
                    <div class="panel-body msg_container_base">
                        <div class="row msg_container base_sent">
                            <div class="col-md-offset-3 col-xs-offset-3">
                                <div class="messages msg_sent">
                                    <p>
                                        that mongodb thing looks good, huh?
                                        tiny master db, and huge document store
                                    </p>
                                    <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                </div>
                            </div>
                        </div>
                        <div class="row msg_container base_receive">
                            <div class="col-md-9 col-xs-9">
                                <div class="messages msg_receive">
                                    <p>that mongodb thing looks good, huh?
                                    tiny master db, and huge document store</p>
                                    <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                </div>
                            </div>
                        </div>
                        <div class="row msg_container base_sent">
                            <div class="col-md-offset-3 col-xs-offset-3">
                                <div class="messages msg_sent">
                                    <p>
                                        that mongodb thing looks good, huh?
                                        tiny master db, and huge document store
                                    </p>
                                    <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row cn">
                                <div class="col-md-9 col-xs-9 my-hg">
                                    <!-- <div class="footer"> -->
                                        <div class="editable my-hg" contenteditable="true"></div>
                                    <!-- </div> -->
                                </div>
                                <!-- <div class="col-md-3 col-xs-3 pl-0  my-hg">
                                    <button class="btn btn-info btn-border col-md-12 send-height" type="button">Send</button>
                                </div> -->
                                <div class="btn btn-success send-height" type="button">Send</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>